.redBox {
	background-color: red;
	height: 200px;
	width: 400px;
	border: solid 1px black;
}

.redBox .boxButton {
	opacity: 0.5;
	transition: opacity 1s ease;
}
.redBox:hover .boxButton {
	opacity: 1;
}

.redBox.readyToExplode {
	border: 1px solid red;
	animation: 2s infinite alternate pulse;
}

@keyframes pulse {
	0% {
		background: hsla(0, 100%, 50%, 0.5);
	}
	100% {
		background: hsla(0, 100%, 50%, 1);
	}
}
